<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>System1 CMP</title>
</head>
<body>
	<!--// INLINE
	<script>{{{ htmlWebpackPlugin.options.inline }}}</script>
	-->

	<!--// LOADER //-->
	<script src="./loader.js"></script>

	<script>
			const config = {
				scriptSrc: 'https://s.flocdn.com/cmp/s1.cmp.js',
				countryCode: 'ES',
				logging: false,
				customPurposeListLocation: './purposes.json',
				globalVendorListLocation: 'https://vendorlist.consensu.org/vendorlist.json',
				pubVendorListLocation: 'https://s.flocdn.com/cmp/pubvendors.json',
				globalConsentLocation: './portal.html',
				storeConsentGlobally: false,
				storePublisherData: false,
				localization: {},
				forceLocale: null,
				gdprApplies: true,
				allowedVendorIds: null
			}

			cmp('addEventListener', 'isLoaded', function(result) {
					console.log("isLoaded queued", result);
			});

			cmp('init', config, (result) => {
				console.log("init complete", result);

				// cmp command immediate
				cmp('addEventListener', 'isLoaded', function(result) {
						console.log("isLoaded immediate", result);
				});

				if (result.consentRequired && !result.hasConsented) {
					cmp('showConsentTool');
				}
			});

	</script>


	<!--//
	<script>
		cmp('init', {
			scriptSrc: './s1.cmp.js',
			countryCode: 'us',
			logging: false,
			pubVendorListLocation: './pubvendors.json'
		}, (result) => {
			console.log("init", result);
			if (result.consentRequired && !result.hasConsented) {
				cmp('showConsentTool'); // gdpr
			}
		});

		cmp('addEventListener', 'onSubmit', (result) => {
			// Turn GA on or off
			// Turn OMJS on or off
			//
			console.log("onSubmit", result);
		});
	</script>
	//-->

</body>
</html>
